#wrapper{
  width: 100vw;
}

.content{
  max-width: 1000;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.header-area{
  background-image: url('/images/header.png');
  width: 100vw;
  height: 600px;
} 
